@using Newtonsoft.Json
@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Upload CSV File</h2>
    <form asp-controller="Home" asp-action="Upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </form>
    <br />
</div>

@if (!string.IsNullOrEmpty(Model))
{
    var data = JsonConvert.DeserializeObject<dynamic>(Model);

    <div class="text-center">
        <h1 class="display-4">Stock Summary from 1/1/2015 to 6/30/2015</h1>

        <div>
            <h2>GLW</h2>
            <p>Min: @data.GLWSummary.Min</p>
            <p>Max: @data.GLWSummary.Max</p>
            <p>Average: @string.Format("{0:F2}", data.GLWSummary.Average)</p>
            <p style="font-weight: bold; color: green" >$1000 investment YTD return on first major spike: $@data.totalROI.ToString("F2")</p>

            @if (data.GLWSpike != null)
            {
                <h3>Significant Spike:</h3>
                <p>Date: @((DateTime)data.GLWSpike.Date)</p>
                <p>Price: @data.GLWSpike.Close.ToString("F2")</p>
                <p>Previous Price: @data.GLWSpike.PreviousClose.ToString("F2")</p>
                <p>Explanation: Possible Earnings Report or Other Related News</p>
            }
            else
            {
                <p>No significant spike found for GLW</p>
            }
        </div>

        <div>
            <h2>NVDA</h2>
            <p>Min: @data.NVDASummary.Min</p>
            <p>Max: @data.NVDASummary.Max</p>
            <p>Average: @string.Format("{0:F2}", data.NVDASummary.Average)</p>

            @if (data.NVDASpike != null)
            {
                <h3>Significant Spike:</h3>
                <p>Date: @((DateTime)data.NVDASpike.Date)</p>
                <p>Price: @data.NVDASpike.Close.ToString("F2")</p>
                <p>Previous Price: @data.NVDASpike.PreviousClose.ToString("F2")</p>
                <p>Explanation: Possible Earnings Report or Other Related News</p>
            }
            else
            {
                <p>No significant spike found for NVDA</p>
            }
        </div>
    </div>
}
